body {
    font: normal 15px arial; /* fonte do body*/
    background-image: url(imagens/Noite.jpg);
    
}

header { 
    color: white; /* Cor da fonte*/
    text-align: center; /* Para centralizar o texto na pagina*/
}

section {
    background: white; /* Para deixar branco a area da section*/
    border-radius: 10px; /* para criar bordas na section */
    padding: 15px; /* Distancia entre o conteudo e um elemento */
    width: 500px; /* Determina a largura da area da section*/
    margin: 0 auto; /* Define a margem nos quetro lados do elemento*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589); /* Define uma sombra na borda da section*/
}

div {
    text-align: center; /* Alinha o conteudo no centro */
    padding: 8px;
}

footer {
    color: white; /* cor da fonte*/
    text-align: center; /* Alinhada ao centro*/
    font-style: italic; /* Fonte em italico */
}