body {
    background-color: burlywood;
}

header {
    text-align: center;
    font: normal 18px arial;
}

section {
    width: 500px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

footer {
    text-align: center;
    font-style: italic; 
}